 body {
        font-family: Arial;
        margin: 40px;
      }

      h2 {
        color: rgb(6, 95, 212);
      }

      input, select {
        height: 30px;
        width: 200px;

        margin-top: 10px;
        margin-bottom: 10px;

        padding-left: 5px;
      }

      .convert-button {
        background-color: rgb(29, 155, 240);
        color: white;
        border: none;

        height: 36px;
        width: 110px;

        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
        transition: opacity 0.15s;
      }

      .convert-button:hover {
        opacity: 0.8;
      }

      .convert-button:active {
        opacity: 0.5;
      }

      .clear-button {
        background-color: red;
        color: rgb(29, 155, 240);
        border-color: rgb(29, 155, 240);
        border-style: solid;

        border-width: 1px;
        height: 36px;
        width: 110px;

        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
      }

      .clear-button:hover {
        background-color: rgb(29, 155, 240);
        color: white;
      }

      .clear-button:active {
        opacity: 0.7;
      }

      #result {
        margin-top: 15px;
        font-weight: bold;
      }